<p id="notice"><%= notice %></p>

<h3>Linhas que atendem este ponto</h3>
<h6>Momento da consulta: <b><%= @lines['hr']%></b></h6>
<% if @lines['p'].nil? %>
  Nenhuma linha encontrada com ônibus circulando no ponto pesquisado.
<% else %>
  <table>
    <thead>
      <tr>
        <th style="padding:0 15px 0 15px;">Linha</th>
        <th>Letreiro</th>
        <th>Horário Previsto</th>
      </tr>
    </thead>

    <tbody>
      <% @lines['p']['l'].each do |b| %>
        <tr>
          <td><%= b['c'] %></td>
          <% if b['qv'] >= 1 %>
            <td><%= link_to(b['lt0'], bus_path(Integer(b['vs'][0]['p']), cl: Integer(b['cl']), px: b['vs'][0]['px'], py: b['vs'][0]['py'], name: b['lt0']), method: :get) %></td>
            <td><%= b['vs'][0]['t'] %></td>
          <% else %>
            <td><%= b['lt0'] %></td>
            <td>Nenhum ônibus circulando.</td>
          <% end %>
        </tr>

        <tr>
          <td><%= b['c'] %></td>
          <% if b['qv'] >= 1 %>
            <td><%= link_to(b['lt1'], bus_path(Integer(b['vs'][0]['p']), cl: Integer(b['cl']), px: b['vs'][0]['px'], py: b['vs'][0]['py'], name: b['lt1']), method: :get) %></td>
            <td><%= b['vs'][0]['t'] %></td>
          <% else %>
            <td><%= b['lt1'] %></td>
            <td>Nenhum ônibus circulando.</td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
  </tbody>
