<p id="notice"><%= notice %></p>

<h3>Linhas que atendem este ponto</h3>
<h1><%= @teste %></h1>
<table>
  <thead>
    <tr>
      <th>Linha</th>
      <th>Letreiro</th>
      <th>Horário Previsto</th>
    </tr>
  </thead>

  <tbody>
    <% if @lines %>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.c %></td>
        <td><%= line.lt0 %></td>
        <td><%= line.vs[0].t %></td>
      </tr>
      <tr>
        <td><%= line.c %></td>
        <td><%= line.lt1 %></td>
        <td><%= line.vs[0].t %></td>
      </tr>
    <% end %>
    <%else%>
    puts man
    <%end%>
  </tbody>
</table>

<br>

